* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(https://sdmntprwestus.oaiusercontent.com/files/00000000-e110-6230-9837-3fcbc96ab9f0/raw?se=2025-06-05T19%3A27%3A28Z&sp=r&sv=2024-08-04&sr=b&scid=5256872a-ed09-5f84-976b-553b043c5e5c&skoid=1e6af1bf-6b08-4a04-8919-15773e7e7024&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-05T17%3A02%3A06Z&ske=2025-06-06T17%3A02%3A06Z&sks=b&skv=2024-08-04&sig=02C53QB7HTra3JHbyXHEnReQcUv/dMzfT9Pww1ahMqk%3D);
    background-repeat: no-repeat;
    background-size: contain;
    Font-family: Segoe UI;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible label{
    position: relative;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1),0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #1c1c6c;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapsible input{
    display: none;
}

.collapsible label::after{
    content: "";
    position: absolute; 
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background-color: #1c1c6c;
    transitio2: all 0.3s -in;
}

.collapsible input:checked + label::after{
    transform: rotate(90deg);
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top:-100%;
    opacity: 0.5;
    transitio2: all 0.3s -in;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1),0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
}

.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #021057;
}

.collapsible-text p{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #021057;
}


*/
/* @keyframes glitch {
  0% {
    box-shadow: -10px -5px 0px blue inset, 10px 5px 0px red inset;
  }
  25% {
    box-shadow: 10px -5px 0px purple inset, -10px 5px 0px yellow inset;
  }
  50% {
    box-shadow: 10px 5px 0px red inset, -10px -5px 0px green inset;
  }
  75% {
    box-shadow: -10px 5px 0px yellow inset, 10px -5px 0px blue inset;
  }
  100% {
    box-shadow: -10px -5px 0px green inset, 10px 5px 0px purple inset;
  }
}
@keyframes grow {
  0% {
    background: radial-gradient(white, black 0%);
  }
  25% {
    background: radial-gradient(white, black 25%);
  }
  50% {
    background: radial-gradient(white, black 50%);
  }
  75% {
    background: radial-gradient(white, black 75%);
  }
  100% {
    background: radial-gradient(white, black 100%);
  }
}

body {
  background-color: rgb(7, 20, 32);
  font-family: Segoe UI;
}

.body {
  width: 500px;
  height: 600px;
  background-color: black;
  border-radius: 150px 150px 250px 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  animation: glitch 3s  infinite;
}

.eyes {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}
.eyes div {
  background-color: blue;
  width: 150px;
  height: 125px;
  box-shadow: 0 0 15px blue;
  border-radius: 0 100% 0 100%;
}
.eye1 {
  transform: rotate(45deg) scaleX(-1);
}
.eye2 {
  transform: rotate(-45deg) scaleX(1);
}

.otherside {
  height: 100%;
  position: absolute;
  width: 50%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: invert(100%);
  z-index: 1;
}
@keyframes size {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes bodySize {
  0% {
    width: 500px;
    height: 600px;
    border-radius: 150px 150px 250px 250px;
  }
  100% {
    width: 550px;
    height: 650px;
    border-radius: 200px 200px 300px 300px;
  }
}

button {
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button:active {
  box-shadow: 0 0 5px inset rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.blocks {
  display: flex;
  align-items: end;
  height: 100%;
  width: 100%;
}

.block {
  width: 20%;
  height: 100%;
  background-color: rgb(0, 255, 128);
  background-color: rgb(0, 128, 255);
  transition: 1s ;
}

.texts {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: 0.4s;
}

.lineBackground {
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  height: 10px;
  display: flex;
  justify-content: flex-start;
}
.line {
  background-color: cyan;
  width: 0%;
  animation: load2ng 4s 0.5s -in-out both;
  transition: 0.4s;
}

h1 {
  font-size: 200px;
  color: white;
  transition: 0.4s;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

nav {
    background-color: rgb(18, 18, 56);
    height: 100px;
}

ul {
display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  text-decoration: none;
  height: 100%;
}

li{
    position: relative;
    z-index: 1;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
animation: levitate 1s infinite ease-in alternate;
  text-decoration: none;
  color: white;
  font-size: 22px;
}

li::after {
  content: "";
  position: absolute;
  height: 10%;
  width: 100%;
  top: 100%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 1px;
  background-color: rgb(0, 255, 128);
}

.particle{
    width: 100%;
    height: 15%;
    z-index: -1;
    border-radius: 10%;
    background-color: #00ff80;
    position: absolute;
    bottom: -2px;    
}

.one{
    animation: particle 3s reverse ;

}

.two{
    animation: particle 3s reverse  1.5s ;

}

.three{
    animation: particle 3s reverse  3s ;
    color: rgb(0, 255, 128);
}

@keyframes levitate {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes particle {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(15px);
        background-color: white;
        width: 0;
        opacity: 0;
    }
} */

.parent {
  background-color: #0B1E2E;
  padding: 24px;                 /* p-8 */
  border-radius: 50px;           /* rounded-[50px] */
  transform: rotate(10deg);      /* rotate-10 */
  display: flex;
  flex-direction: column;
  gap: 14px;                 
  z-index: 1;
  width: max-content;
}

.child {
  width: 100px;
  height: 100px;
  background-color: #0080ff;
  border-radius: 25px;
  transform: rotate(-10deg); 
  z-index: 1;    
  position: relative;
}

.child-behind {
  z-index: -1;
  width: 200px;
  height: 100px;
  background-color: #00ff80;
  border-radius: 25px;
  position: absolute;
}
