/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(https://sdmntprwestus.oaiusercontent.com/files/00000000-e110-6230-9837-3fcbc96ab9f0/raw?se=2025-06-05T19%3A27%3A28Z&sp=r&sv=2024-08-04&sr=b&scid=5256872a-ed09-5f84-976b-553b043c5e5c&skoid=1e6af1bf-6b08-4a04-8919-15773e7e7024&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-06-05T17%3A02%3A06Z&ske=2025-06-06T17%3A02%3A06Z&sks=b&skv=2024-08-04&sig=02C53QB7HTra3JHbyXHEnReQcUv/dMzfT9Pww1ahMqk%3D);
    background-repeat: no-repeat;
    background-size: contain;
    Font-family: Segoe UI;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible label{
    position: relative;
    font-weight: 600;
    background-color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1),0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #1c1c6c;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapsible input{
    display: none;
}

.collapsible label::after{
    content: "";
    position: absolute; 
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background-color: #1c1c6c;
    transition: all 0.3s ease-in;
}

.collapsible input:checked + label::after{
    transform: rotate(90deg);
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top:-100%;
    opacity: 0.5;
    transition: all 0.3s ease-in;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1),0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
}

.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #021057;
}

.collapsible-text p{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #021057;
}


@keyframes glitch{
    0%{
        box-shadow:-10px -5px 0px blue inset , 10px 5px 0px red inset;
    } 
    25%{
        box-shadow:10px -5px 0px purple inset, -10px 5px 0px yellow inset;
    }
    50%{
        box-shadow:10px 5px 0px red inset, -10px -5px 0px green inset;
    }
    75%{
        box-shadow:-10px 5px 0px yellow inset, 10px -5px 0px blue inset;
    }
    100%{
        box-shadow:-10px -5px 0px green inset, 10px 5px 0px purple inset;
    }
}

@keyframes grow{
    0%{
        background: radial-gradient(white,black 0%);
    }
    25%{
        background: radial-gradient(white,black 25%);
    }
    50%{
        background: radial-gradient(white,black 50%);
    }
    75%{
        background: radial-gradient(white,black 75%);
    }
    100%{
        background: radial-gradient(white,black 100%);
    }
} */


.container{
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 20px;
    
}

.one{
    background-color: red;
    width:100px ;
    height: 100px;
    display: flex;
    align-items: 8px;
}
.two{
    background-color: yellow;
    width:200px ;
    height: 200px;
}
.three{
    background-color: lime;
    width:300px ;
    height: 300px;
}
.four{
    background-color: blue;
    width:400px ;
    height: 400px;
}